/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
.v-ripple__container {
    visibility: hidden;
}

.v-avatar {
    text-transform: uppercase !important;
}

* {
    font-family: 'Sora', sans-serif !important;
    text-transform: none !important;
}

.v-btn:active,
.a.v-card:active,
.v-card.active {
    transition: 200ms;
    box-shadow: 0 0 0 0.1rem currentColor !important;
}

.v-field,
.v-field__field {
    border-radius: 10px !important;
}

.v-container {
    max-width: 1200px !important;
}

.display {
    font-weight: 800;
    font-size: 4em;
    text-transform: uppercase;
}

a {
    color: inherit;
}

pre {
    font-family: 'Jetbrains Mono', monospace !important;
    background-color: black;
    border-radius: 50px;
    display: inline-block;
    padding: 3px 7px 3px 7px;
    color: rgb(var(--v-theme-primary))
}

::selection {
    color: white;
    background: rgba(var(--v-theme-primary), 0.9);
}

.v-overlay__scrim {
    background-color: black;
}

.vsm-background, .vsm-arrow {
    background: black !important;
}