h1.heading {
  font-size: 50px;
}

h2.heading {
  font-size: 30px;
}

.heading {
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.v-container {
  max-width: 1200px !important;
}

.v-field--variant-filled {
  border-radius: 0 !important;
}

.v-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

* {
  font-family: 'Rubik', sans-serif;
}

a {
  color: #82b1ff;
}

.wizardTitle {
  font-weight: 500;
}

.v-ripple__container {
  opacity: 0;
}

.v-btn {
  text-transform: none !important;
}

.v-btn:active {
  transition: 200ms;
  box-shadow: 0 0 0 0.2rem rgba(68, 138, 255, 0.5) !important;
}

.v-btn.text-red:active {
  transition: 200ms;
  box-shadow: 0 0 0 0.2rem rgba(255, 68, 68, 0.5) !important;
}

.v-list-item--nav:active {
  background-color: rgba(68, 138, 255, 0.2);
}

a.v-card:active {
  box-shadow: 0 0 0 0.2rem rgba(68, 138, 255, 0.5) !important;
  opacity: 0.75;
}

a.v-card {
  transition: 200ms;
}

.v-btn--icon:active {
  transition: 100ms;
  transform: scale(0.9);
}

button.v-btn--size-large i {
  padding-top: 3px !important;
}

button.v-btn--size-default i {
  padding-bottom: 2px !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

a.v-list-item--active i {
  color: #82b1ff;
}